In [1]:
import pandas as pd

In [87]:
df = pd.read_csv('press_release.csv')
df_source = pd.read_excel('Dataset_EA-MPD.xlsx', header=0, sheet_name=3)

#Flipping
df_source = df_source.loc[::-1].reset_index(drop=True)

In [104]:
df.head(6)

,Date,Text,char_cnt,word_cnt,avg_word_length
0,06/06/2024,the governing council today decided to lower t...,4929,757,6.511229
1,11/04/2024,the governing council today decided to keep th...,3919,586,6.687713
2,07/03/2024,the governing council today decided to keep th...,4257,649,6.559322
3,25/01/2024,the governing council today decided to keep th...,3663,541,6.770795
4,14/12/2023,the governing council today decided to keep th...,5179,799,6.481852
5,26/10/2023,the governing council today decided to keep th...,3720,549,6.775956

In [90]:
#Very simple data processing

# Change to lower case
df['Text'] = df['Text'].str.lower()

# Find the length of each text
df['char_cnt'] = df['Text'].str.len()

# Count the number of words in each text
df['word_cnt'] = df['Text'].str.split().str.len()

# Find the average length of word
df['avg_word_length'] = df['char_cnt'] / df['word_cnt']

# Print the first 5 rows of these columns
print(df[['Text', 'char_cnt', 'word_cnt', 'avg_word_length']])

                                                  Text  char_cnt  word_cnt  \
0    the governing council today decided to lower t...      4929       757
1    the governing council today decided to keep th...      3919       586
2    the governing council today decided to keep th...      4257       649
3    the governing council today decided to keep th...      3663       541
4    the governing council today decided to keep th...      5179       799
..                                                 ...       ...       ...
296  at today's meeting the governing council of th...       368        58
297  at today's meeting, the governing council of t...       416        65
298  at today's meeting the governing council of th...       684       115
299  at today's meeting the governing council of th...       777       124
300  at today's meeting the governing council revie...       928       147

     avg_word_length
0           6.511229
1           6.687713
2           6.559322
3           6.770795
4           6.481852
..               ...
296         6.344828
297         6.400000
298         5.947826
299         6.266129
300         6.312925

[301 rows x 4 columns]

In [115]:
#Fill with the correct lines
df_X = df.loc[5:,'Text']
df_y = df_source.loc[0:295,'OIS_1M']


#TIME SERIES BEHAVIOUR

In [119]:
# Import libraries
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer


# Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.2, random_state=42)

# Instantiate TfidfVectorizer
tv = TfidfVectorizer(max_features=100, stop_words='english', ngram_range=(3,3))

# Fit the vectroizer and transform the data
tv_train_transformed = tv.fit_transform(X_train)
tv_test_transformed = tv.transform(X_test)


# Create a DataFrame with these features
tv_train = pd.DataFrame(tv_train_transformed.toarray(), 
                     columns=tv.get_feature_names_out()).add_prefix('TFIDF_')

tv_test = pd.DataFrame(tv_test_transformed.toarray(), 
                     columns=tv.get_feature_names_out()).add_prefix('TFIDF_')

print(tv_df.head())

# Isolate the row to be examined
sample_row = tv_df.iloc[0]

# Print the top 5 words of the sorted output
print(sample_row.sort_values(ascending=False).head())

   TFIDF_00 00 00  TFIDF_00 00 respectively  TFIDF_00 respectively president  \
0             0.0                       0.0                              0.0
1             0.0                       0.0                              0.0
2             0.0                       0.0                              0.0
3             0.0                       0.0                              0.0
4             0.0                       0.0                              0.0

   TFIDF_14 30 cet  TFIDF_25 basis points  TFIDF_25 percentage point  \
0              0.0               0.247255                        0.0
1              0.0               0.000000                        0.0
2              0.0               0.000000                        0.0
3              0.0               0.000000                        0.0
4              0.0               0.000000                        0.0

   TFIDF_30 cet today  TFIDF_75 75 75  TFIDF_75 75 respectively  \
0                 0.0             0.0                       0.0
1                 0.0             0.0                       0.0
2                 0.0             0.0                       0.0
3                 0.0             0.0                       0.0
4                 0.0             0.0                       0.0

   TFIDF_asset purchase programme  ...  TFIDF_term refinancing operations  \
0                        0.272717  ...                           0.094551
1                        0.225135  ...                           0.117081
2                        0.225135  ...                           0.117081
3                        0.225135  ...                           0.117081
4                        0.244393  ...                           0.084731

   TFIDF_time past date  TFIDF_today meeting governing  \
0                   0.0                            0.0
1                   0.0                            0.0
2                   0.0                            0.0
3                   0.0                            0.0
4                   0.0                            0.0

   TFIDF_today meeting held  TFIDF_took following monetary  \
0                       0.0                            0.0
1                       0.0                            0.0
2                       0.0                            0.0
3                       0.0                            0.0
4                       0.0                            0.0

   TFIDF_transmission monetary policy  TFIDF_unchanged 00 00  \
0                            0.108816                    0.0
1                            0.134745                    0.0
2                            0.134745                    0.0
3                            0.134745                    0.0
4                            0.097514                    0.0

   TFIDF_unchanged 00 25  TFIDF_unchanged 75 75  \
0                    0.0                    0.0
1                    0.0                    0.0
2                    0.0                    0.0
3                    0.0                    0.0
4                    0.0                    0.0

   TFIDF_underlying decisions press
0                          0.040119
1                          0.049679
2                          0.049679
3                          0.049679
4                          0.035952

[5 rows x 100 columns]
TFIDF_key ecb rates                   0.360218
TFIDF_governing council continue      0.326448
TFIDF_emergency purchase programme    0.326448
TFIDF_pandemic emergency purchase     0.326448
TFIDF_purchase programme pepp         0.326448
Name: 0, dtype: float64

In [123]:
#Bayesian

from sklearn.linear_model import BayesianRidge

sklearn.naive_bayes import GaussianNB
brr = BayesianRidge(compute_score=True, max_iter=30).fit(tv_train, y_train)

print(brr.score(tv_test, y_test))

ValueError: Unknown label type: (array([-3.50000000e+01, -2.01000000e+01, -1.80000000e+01, -1.65000000e+01,
       -1.37500000e+01, -9.80000000e+00, -8.25000000e+00, -6.50000000e+00,
       -5.60000000e+00, -4.77499962e+00, -4.44998741e+00, -4.00000000e+00,
       -3.50000000e+00, -3.40000000e+00, -3.20000000e+00, -2.85000000e+00,
       -2.60000000e+00, -2.50000000e+00, -2.50000000e+00, -2.25000000e+00,
       -2.00000000e+00, -1.81999803e+00, -1.60000000e+00, -1.50000000e+00,
       -1.50000000e+00, -1.45000000e+00, -1.40000000e+00, -1.30000000e+00,
       -1.20000000e+00, -1.15000000e+00, -1.10000000e+00, -1.05000000e+00,
       -1.00000000e+00, -1.00000000e+00, -1.00000000e+00, -9.74997878e-01,
       -9.00000000e-01, -8.50000000e-01, -8.00000000e-01, -8.00000000e-01,
       -7.50000000e-01, -7.50000000e-01, -7.25007057e-01, -7.00000000e-01,
       -6.45000000e-01, -6.35000000e-01, -6.25000000e-01, -5.80000877e-01,
       -5.50000000e-01, -5.00000000e-01, -5.00000000e-01, -5.00000000e-01,
       -4.99999523e-01, -4.65000000e-01, -4.00000000e-01, -3.60000134e-01,
       -3.50000000e-01, -3.50000000e-01, -3.14998627e-01, -3.00000000e-01,
       -3.00000000e-01, -2.50000000e-01, -2.50000000e-01, -2.50000000e-01,
       -2.00000000e-01, -1.80000000e-01, -1.45000219e-01, -1.10000000e-01,
       -1.00001693e-01, -1.00000000e-01, -1.00000000e-01, -1.00000000e-01,
       -9.50008631e-02, -9.00030136e-02, -5.00000000e-02, -4.00006771e-02,
       -2.99990177e-02, -5.00000000e-03,  0.00000000e+00,  5.00000000e-03,
        9.99867916e-03,  2.00003386e-02,  2.50011683e-02,  4.00010000e-02,
        5.00000000e-02,  5.50001860e-02,  9.00000334e-02,  1.00000000e-01,
        1.04999542e-01,  1.50000000e-01,  1.54999000e-01,  2.00000000e-01,
        2.00000000e-01,  2.50000000e-01,  2.50000000e-01,  2.50000000e-01,
        2.50005722e-01,  2.65000000e-01,  3.00000000e-01,  3.00000000e-01,
        3.50000000e-01,  5.00000000e-01,  5.00000000e-01,  5.00000000e-01,
        5.00000000e-01,  5.50000000e-01,  6.00000000e-01,  6.00000000e-01,
        6.50000000e-01,  6.50000000e-01,  6.90000000e-01,  7.00000000e-01,
        7.00000000e-01,  7.00000000e-01,  8.00000000e-01,  9.05001163e-01,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.05000000e+00,  1.05000000e+00,  1.22999847e+00,  1.25000000e+00,
        1.37499869e+00,  1.50000000e+00,  1.50000000e+00,  1.50000000e+00,
        1.64499879e+00,  1.76000595e+00,  1.90000000e+00,  2.00000000e+00,
        2.00000000e+00,  2.00000000e+00,  2.25000000e+00,  2.30000000e+00,
        2.30000000e+00,  2.50000000e+00,  2.58500000e+00,  2.59499997e+00,
        2.60000000e+00,  3.00000000e+00,  3.00000000e+00,  3.00000000e+00,
        3.40000000e+00,  3.50000000e+00,  3.75000000e+00,  3.90000000e+00,
        4.00000000e+00,  4.14000200e+00,  4.50000000e+00,  5.00000000e+00,
        5.17500000e+00,  6.50000000e+00,  6.90000000e+00,  7.00000000e+00,
        7.40000000e+00,  7.57999420e+00,  8.50000000e+00,  1.00000000e+01,
        1.05699986e+01,  1.27000000e+01,  1.70000000e+01]),)

In [86]:
#Eavluate and parameter tuning

In [114]:
import numpy as np
# Get boolean DataFrame where True represents NaN
nan_locations = df_y.isna()

# Use numpy to find indices of True values (i.e., NaNs)
np.where(nan_locations)

(array([284], dtype=int64),)

In [117]:
df_y.tail(15)

281   -16.50
282    -4.50
283     3.75
284    -0.50
285     0.00
286     1.50
287     0.00
288     0.00
289     0.50
290     0.00
291     0.00
292     0.00
293    -2.50
294    -0.50
295     0.00
Name: OIS_1M, dtype: float64

In [56]:
# Sentence to search for
search_sentence = "the president of the ecb will comment on the considerations underlying these decisions at a press conference"

# Find indexes of rows containing the search sentence
indexes = df[~df['Text'].str.contains(search_sentence, case=False)].index.tolist()

# Print the indexes
print("Indexes with the specified sentence:", indexes)

Indexes with the specified sentence: [42, 49, 99, 114, 126, 138, 146, 147, 157, 159, 160, 161, 163, 164, 165, 166, 167, 168, 170, 172, 173, 175, 177, 178, 180, 181, 186, 187, 188, 190, 192, 194, 196, 197, 199, 201, 203, 205, 207, 209, 211, 212, 214, 215, 217, 219, 220, 221, 222]

In [70]:
df_source = df_source.loc[::-1].reset_index(drop=True)

In [80]:
df_source

,date,OIS_SW,OIS_1M,OIS_3M,OIS_6M,OIS_1Y,OIS_2Y,OIS_3Y,OIS_4Y,OIS_5Y,...,ES5Y,FR5Y,ES10Y,FR10Y,IT10Y,STOXX50,SX7E,EURUSD,EURGBP,EURJPY
0,2023-10-26 12:15:00,-0.099993,-0.725007,-0.990009,-1.459980,-3.295016,-5.835009,-6.800008,-6.250000,-6.500006,...,-6.800008,-7.125020,-6.649995,-6.100011,-9.450006,0.472046,1.388453,0.075888,-0.189451,-0.037864
1,2023-09-14 12:15:00,5.799985,7.579994,6.220007,4.885006,2.745008,-0.300002,-1.600003,-2.349997,-2.399993,...,-3.999996,-3.710008,-5.150008,-3.200006,-7.299995,1.020578,1.568556,-0.626368,-0.168747,-0.628158
2,2023-07-27 12:15:00,0.000000,-0.090003,-1.134992,-2.095008,-3.600001,-4.700017,-4.800010,-4.550004,-4.699993,...,-5.850005,-4.544997,-5.099988,-3.950000,-6.250000,0.577907,-0.758382,-1.147098,-0.291409,-0.710486
3,2023-06-15 00:00:00,0.300002,0.250006,0.950003,1.990008,1.374984,-0.830007,-1.599979,-2.099991,-2.349997,...,-3.650022,-3.355002,-6.349993,-5.349994,-5.999994,0.141154,-0.192120,0.755142,0.151847,0.183084
4,2023-05-04 00:00:00,-3.500009,-4.449987,-5.599999,-6.369996,-6.700015,-6.850004,-5.900002,-6.049991,-5.949998,...,-4.949999,-4.130006,-2.400017,-2.699995,-1.950026,0.506973,0.580817,-0.470666,-0.387108,-0.619926
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1999-03-18 00:00:00,0.500000,-0.500000,0.000000,-0.500000,1.000000,NaN,NaN,NaN,NaN,...,0.500000,0.400000,0.550000,0.750000,NaN,0.060922,0.094642,0.045430,0.029581,-0.015405
295,1999-03-04 00:00:00,-1.250000,0.000000,-0.500000,0.000000,0.000000,NaN,NaN,NaN,NaN,...,0.400000,-0.200000,0.650000,0.250000,NaN,0.082407,-0.164442,0.050669,0.096357,0.340143
296,1999-02-18 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,...,-0.900000,-0.200000,-0.100000,0.150000,NaN,0.174157,0.080538,0.022258,0.036386,0.040914
297,1999-01-21 00:00:00,NaN,0.000000,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,...,-0.900000,-0.500000,0.150000,-0.450000,NaN,-0.212126,-0.245174,0.064838,-0.085409,0.101767
298,1999-01-07 00:00:00,NaN,-5.000000,-0.500000,-5.250000,-0.250000,NaN,NaN,NaN,NaN,...,2.050000,1.000000,2.050000,2.150000,NaN,-1.231443,-1.177058,0.145748,0.084890,-0.001927

In [83]:
df.iloc[:,1:2]

           Date
2    07/03/2024
3    25/01/2024
4    15/12/2022
5    27/10/2022
6    08/09/2022
..          ...
218  06/05/1999
219  22/04/1999
220  08/04/1999
221  18/03/1999
222  04/03/1999

[221 rows x 1 columns]

In [85]:
df.head()

,Unnamed: 0,Date,Text,char_cnt,word_cnt,avg_word_length
0,0,06/06/2024,the governing council today decided to lower t...,4929,757,6.511229
1,1,11/04/2024,the governing council today decided to keep th...,3919,586,6.687713
2,2,07/03/2024,the governing council today decided to keep th...,4257,649,6.559322
3,3,25/01/2024,the governing council today decided to keep th...,3663,541,6.770795
4,4,15/12/2022,the governing council today decided to raise t...,6218,952,6.531513